html{
    font-size: 62.5%; /*rem de 16 es = 10px ahora*/
    box-sizing: border-box;
}
*,*:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

input{
    background-color: blue;
    display: block;
    position: absolute;
    top: 55%;
    outline:solid white 3px;
    left: 50%;
}

#imagen{
    position: absolute;
    border:solid red 2px;
}

body {
    background-color: brown;
    height: 100vh;
    width: 100%;
}
